<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%l-[%p] %m%n" /> 
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>
	<appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="error.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="2"/>
		<layout class="org.apache.log4j.PatternLayout">
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	<appender name="INFO" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="info.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="2"/>
		<layout class="org.apache.log4j.PatternLayout" >
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>
	<appender name="WARN" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="warn.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="2"/>
		<layout class="org.apache.log4j.PatternLayout" >
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>
	<root>
		<appender-ref ref="STDOUT"/>
		<!-- 
		<appender-ref ref="INFO"/>
		<appender-ref ref="WARN"/>
		 -->
		<appender-ref ref="ERROR"/>
	</root>
</log4j:configuration>
